.contact-management__container {
  margin-top: 20px;
}

.contact-management__list {
  overflow: auto;
  height: 92vh;
  padding-bottom: 20px;
}

.empty-container {
  height: 89vh;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.empty-container:first-child {
  align-self: center;
}

.empty-container:first-child h2 {
  align-self: center;
}

.empty-container:last-child {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}
